*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: linear-gradient(to right top, #acb6e5, #86fde8, #E4E5E6, #00416A, #D6A4A4);
}
form{
    background: #aaaaaaa0;
    width: 350px;
    height: 580px;
    padding: 75px 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}
h1 {
    text-align: center;
    margin-bottom: 45px;
    color: #232526;
    font-size: 42px;
}
.textBoxdiv{
    border-bottom: 2px solid white;
    position: relative;
    margin: 35px 0;
}
.textBoxdiv input{
    background: none;
    border: none;
    outline: none;
    width: none;
    color: none;
    height: none;
    font-size: 20px;
}
.loginBtn {
    transition: 0.5s;
    height: 45px;
    width: 100%;
    border: none;
    outline: none;
    background: linear-gradient(45deg, #FF4081, #3F51B5, #70584f85, #E4E5E6);
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .loginBtn:hover {
    background: linear-gradient(45deg, #3F51B5, #FF4081);
    font-size: 18px;
  }
  
.signup{
    color: black;
    margin-top: 45px;
    text-align: center;
}
.signup a{
    color: darkcyan;
    font-size: 17px;
}

@media screen and (max-width: 500px){
    form{
        width: 90%;
        height: auto;
        padding: 50px 25px;
        flex-wrap: wrap;
    }
    h1{
        font-size: 32px;
        margin-bottom: 30px;
    }
    .textBoxdiv input{
        font-size: 18px;
    }
    .loginBtn{
        height: 40px;
        font-size: 14px;
    }

    .signup{
        margin-top: 30px;
    }
    .signup a{
        font-size: 14px;
    }
}